.card-inner{
    margin-left: 4rem;
    border:0;
    background-color:#EDEDED;
    border-radius: 7px 7px 7px 7px;
}
.card-body
{
    border: 0;
}
form {
    direction: rtl;
}
input {
     display: block;
     direction: ltr;
}
strong
{
    color: black;
}
